.search, .video-detail-player {
  margin-bottom:16px;
}

.search input{
  width:100%;
}

.detail{
  border: 1px solid #eee;
  border-radius:4px;
  padding:8px;
}

.video-item:hover {
  cursor:pointer;
  background-color:#eee;
}
